<volume>
  <name><%= @name %></name>
  <allocation unit="<%= split_size_unit(@allocation)[1] %>"><%= split_size_unit(@allocation)[0] %></allocation>
  <capacity unit="<%= split_size_unit(@capacity)[1] %>"><%= split_size_unit(@capacity)[0] %></capacity>
  <target>
    <format type="<%= @format_type %>"/>
    <permissions>
      <owner><%= @storage_volume_uid %></owner>
      <group><%= @storage_volume_gid %></group>
      <mode>0744</mode>
      <label>virt_image_t</label>
    </permissions>
  </target>
</volume>
